name: RuboCop

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop
